* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.title {
    width: 100%;
    text-align: center;
    line-height: 100vh;
    font-size: 5vw;
    letter-spacing: 5px;
    background-color: cadetblue;
    color: #fff;
}

.block-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 5vw;
    height: 5vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: block-animation 0.5s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
    -webkit-animation: block-animation 0.5s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
    transform: scale(0) translateY(1000px);
    -webkit-transform: scale(0) translateY(1000px);
    -moz-transform: scale(0) translateY(1000px);
    -ms-transform: scale(0) translateY(1000px);
    -o-transform: scale(0) translateY(1000px);
}

.block.block-pc {
    background-image: url(../img/background-pc.jpg);
    background-position: center;
    background-size: 100% auto;
}
.block.block-mobile {
    background-image: url(../img/background-mobile.jpg);
    background-position: center;
    background-size: auto 100%;
}

.block:nth-child(even) {
    animation: block-animation 0.75s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
    -webkit-animation: block-animation 0.75s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
}

.block:nth-child(7n + 3) {
    animation: block-animation 1s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
    -webkit-animation: block-animation 1s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
}
.block:nth-child(7n + 7) {
    animation: block-animation 1.25s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
    -webkit-animation: block-animation 1.25s ease-in-out calc(0.05s * var(--i)) 1 normal forwards;
}

@keyframes block-animation {
    100% {
        transform: scale(1) translateY(0px);
        -webkit-transform: scale(1) translateY(0px);
        -moz-transform: scale(1) translateY(0px);
        -ms-transform: scale(1) translateY(0px);
        -o-transform: scale(1) translateY(0px);
}
}