html, body {
    margin: 0;
    padding: 0;
    background: rgba(20, 20, 20, 0.603);
}

body section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    animation: section-animation 2s linear infinite alternate;
    -webkit-animation: section-animation 2s linear infinite alternate;
}

@keyframes section-animation {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
}
    50% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
}
}

.loading-wrapper {
    width: 250px;
    height: 250px;
    position: relative;
}

.loading-block {
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    top: 50%;
    background-color: #000;
    transform: rotate(calc(var(--i) * 18deg));
    transform-origin: 125px;
    animation: block-animation 2s ease-in-out calc(0.05s * calc(var(--i))) infinite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: rotate(calc(var(--i) * 18deg));
    -moz-transform: rotate(calc(var(--i) * 18deg));
    -ms-transform: rotate(calc(var(--i) * 18deg));
    -o-transform: rotate(calc(var(--i) * 18deg));
    -webkit-animation: block-animation 2s ease-in-out calc(0.05s * calc(var(--i))) infinite;
}

@keyframes block-animation {
    0%, 50% {
        background-color: #0f0;
        box-shadow: 0 0 5px #0f0,
                    0 0 15px #0f0,
                    0 0 30px #0f0,
                    0 0 60px #0f0,
                    0 0 90px #0f0;
    }
    50.1%, 100% {
        background-color: #000;
        box-shadow: none;
    }
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    letter-spacing: 3.5px;
    animation: text-animation 2s linear infinite;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: text-animation 2s linear infinite;
}

@keyframes text-animation {
    0%, 50% {
        color: rgb(107, 224, 71);
    }
    50.1%, 100% {
        color: #000;
    }
}